In [106]:
# Import libraries

import pandas as pd
import os

In [107]:
# Load raw data from scraping

tweets_raw = pd.read_csv('../data/tweets_raw.csv')
tweets_raw.head()

,_type,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,user_name,category,name
0,snscrape.modules.twitter.Tweet,https://twitter.com/elonmusk/status/1598004480...,2022-11-30 17:22:12+00:00,@EvaFoxU @Reuters Exactly. The obvious reality...,@EvaFoxU @Reuters Exactly. The obvious reality...,1.598004e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",2565.0,9638.0,41337.0,...,1.597924e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,NaN,NaN,elonmusk,Tech CEO,Elon Musk
1,snscrape.modules.twitter.Tweet,https://twitter.com/elonmusk/status/1597982424...,2022-11-30 15:54:33+00:00,Update from @Neuralink at 6pm PT,Update from @Neuralink at 6pm PT,1.597982e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",6211.0,6405.0,71890.0,...,NaN,NaN,"[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,NaN,NaN,elonmusk,Tech CEO,Elon Musk
2,snscrape.modules.twitter.Tweet,https://twitter.com/elonmusk/status/1597887972...,2022-11-30 09:39:14+00:00,@NorthmanTrader @vincent13031925 Exactly,@NorthmanTrader @vincent13031925 Exactly,1.597888e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",569.0,257.0,5336.0,...,1.597881e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,NaN,NaN,elonmusk,Tech CEO,Elon Musk
3,snscrape.modules.twitter.Tweet,https://twitter.com/elonmusk/status/1597878869...,2022-11-30 09:03:04+00:00,@vincent13031925 Trend is concerning. Fed need...,@vincent13031925 Trend is concerning. Fed need...,1.597879e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",7455.0,10295.0,93386.0,...,1.597706e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,NaN,NaN,elonmusk,Tech CEO,Elon Musk
4,snscrape.modules.twitter.Tweet,https://twitter.com/elonmusk/status/1597873111...,2022-11-30 08:40:11+00:00,"@teslaownersSV Much more, but I am simply stat...","@teslaownersSV Much more, but I am simply stat...",1.597873e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",646.0,690.0,9893.0,...,1.597871e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,NaN,NaN,elonmusk,Tech CEO,Elon Musk

In [108]:
# Data cleansing

# Drop NaN and other problematic data
tweets_dropnas = tweets_raw.dropna(subset=['replyCount']).drop(index=14215).drop(index=14208)

tweets_dropnas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15438 entries, 0 to 15447
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _type             15438 non-null  object
 1   url               15438 non-null  object
 2   date              15438 non-null  object
 3   content           15438 non-null  object
 4   renderedContent   15438 non-null  object
 5   id                15438 non-null  float64
 6   user              15438 non-null  object
 7   replyCount        15438 non-null  float64
 8   retweetCount      15438 non-null  object
 9   likeCount         15438 non-null  object
 10  quoteCount        15438 non-null  object
 11  conversationId    15438 non-null  object
 12  lang              15438 non-null  object
 13  source            15438 non-null  object
 14  sourceUrl         15438 non-null  object
 15  sourceLabel       15438 non-null  object
 16  outlinks          3187 non-null   object
 17  tcooutlinks       3187 non-null   object
 18  media             5209 non-null   object
 19  retweetedTweet    0 non-null      object
 20  quotedTweet       1110 non-null   object
 21  inReplyToTweetId  4579 non-null   float64
 22  inReplyToUser     4579 non-null   object
 23  mentionedUsers    6317 non-null   object
 24  coordinates       3 non-null      object
 25  place             3 non-null      object
 26  hashtags          1438 non-null   object
 27  cashtags          1 non-null      object
 28  user_name         15438 non-null  object
 29  category          15438 non-null  object
 30  name              15438 non-null  object
dtypes: float64(3), object(28)
memory usage: 3.8+ MB

In [109]:
tweets_cols1 = tweets_dropnas[['name','user', 'date','category', 'id', 'content','lang', 'sourceLabel',
                           'inReplyToTweetId', 'inReplyToUser', 'mentionedUsers', 'hashtags', 'replyCount']]

tweets_cols_to_num = tweets_dropnas[['retweetCount','likeCount', 'quoteCount']].apply(pd.to_numeric, errors='coerce')

tweets_clean = pd.concat((tweets_cols1, tweets_cols_to_num), axis=1)

tweets_clean.to_csv('../data/tweets_clean.csv', index=False)

In [110]:
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15438 entries, 0 to 15447
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              15438 non-null  object
 1   user              15438 non-null  object
 2   date              15438 non-null  object
 3   category          15438 non-null  object
 4   id                15438 non-null  float64
 5   content           15438 non-null  object
 6   lang              15438 non-null  object
 7   sourceLabel       15438 non-null  object
 8   inReplyToTweetId  4579 non-null   float64
 9   inReplyToUser     4579 non-null   object
 10  mentionedUsers    6317 non-null   object
 11  hashtags          1438 non-null   object
 12  replyCount        15438 non-null  float64
 13  retweetCount      15438 non-null  float64
 14  likeCount         15438 non-null  float64
 15  quoteCount        15438 non-null  float64
dtypes: float64(6), object(10)
memory usage: 2.0+ MB