In [48]:
# Import packages

import os
import pandas as pd

In [33]:
# Initialize variables
tweet_count = 5000
username = 'elonmusk'
since_date = '2022-01-01'

# Using OS library to get tweets from Elon Musk for 2022
os.system(f'snscrape --jsonl --since {since_date} twitter-search "from:{username}"> musk_tweets_2022.json');

In [38]:
# Initialize variables
username = ['sundarpichai', 'tim_cook', 'BillGates', 'finkd']
since_date = '2022-01-01'

# Using OS library to get tweets from other Big Tech CEOs
for user in username:
    json_file = f'{user}_tweets_2022.json'
    os.system(f'snscrape --jsonl --progress --since {since_date} twitter-search "from:{user}"> {json_file}');

Scraping, 100 results so far
Scraping, 100 results so far
Scraping, 100 results so far
Scraping, 200 results so far
Scraping, 300 results so far

In [75]:
sundarpichai = pd.read_json('sundarpichai_tweets_2022.json', lines=True)
sundarpichai['user_name'] = 'Sundar Pichai'
tim_cook = pd.read_json('tim_cook_tweets_2022.json', lines=True)
tim_cook['user_name'] = 'Tim Cook'
BillGates = pd.read_json('BillGates_tweets_2022.json', lines=True)
BillGates['user_name'] = 'Bill Gates'
finkd = pd.read_json('finkd_tweets_2022.json', lines=True)
finkd['user_name'] = 'Mark Zuckerberg'

CEOs = pd.concat([tim_cook, sundarpichai,BillGates, finkd], axis = 0, ignore_index=True)

CEOs.to_csv(os.getcwd()+ r'/CEOs.csv',index=False)

In [96]:
CEO_tweets_df = pd.read_csv(os.getcwd()+r'/Apps/TwitterChallenge/twitter-analyzing-for-two-countries/data/CEOs.csv')

CEO_tweets_df.groupby(['user_name']).agg({'id': 'count', 'hashtags': 'nunique', 'replyCount': ['sum', 'mean'], 'retweetCount': ['sum', 'mean'], 'likeCount': ['sum', 'mean']}).round(1)

                 id hashtags replyCount        retweetCount         likeCount  \
              count  nunique        sum   mean          sum   mean        sum
user_name
Bill Gates      358       29      675.0    1.9     146175.0  408.3  1006243.0
Sundar Pichai   147       22    40177.0  273.3     101383.0  689.7   996174.0
Tim Cook        155       20    57212.0  369.1     148076.0  955.3  1434594.0


                 mean
user_name
Bill Gates     2810.7
Sundar Pichai  6776.7
Tim Cook       9255.4