In [1]:
# Import libraries

import pandas as pd

In [2]:
tweets_raw = pd.read_csv('./data/tweets_raw.csv')
tweets_raw.head()

,_type,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,user_name,category,name
0,snscrape.modules.twitter.Tweet,https://twitter.com/elonmusk/status/1598004480...,2022-11-30 17:22:12+00:00,@EvaFoxU @Reuters Exactly. The obvious reality...,@EvaFoxU @Reuters Exactly. The obvious reality...,1.598004e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",2565.0,9638.0,41337.0,...,1.597924e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,NaN,NaN,elonmusk,Tech CEO,Elon Musk
1,snscrape.modules.twitter.Tweet,https://twitter.com/elonmusk/status/1597982424...,2022-11-30 15:54:33+00:00,Update from @Neuralink at 6pm PT,Update from @Neuralink at 6pm PT,1.597982e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",6211.0,6405.0,71890.0,...,NaN,NaN,"[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,NaN,NaN,elonmusk,Tech CEO,Elon Musk
2,snscrape.modules.twitter.Tweet,https://twitter.com/elonmusk/status/1597887972...,2022-11-30 09:39:14+00:00,@NorthmanTrader @vincent13031925 Exactly,@NorthmanTrader @vincent13031925 Exactly,1.597888e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",569.0,257.0,5336.0,...,1.597881e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,NaN,NaN,elonmusk,Tech CEO,Elon Musk
3,snscrape.modules.twitter.Tweet,https://twitter.com/elonmusk/status/1597878869...,2022-11-30 09:03:04+00:00,@vincent13031925 Trend is concerning. Fed need...,@vincent13031925 Trend is concerning. Fed need...,1.597879e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",7455.0,10295.0,93386.0,...,1.597706e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,NaN,NaN,elonmusk,Tech CEO,Elon Musk
4,snscrape.modules.twitter.Tweet,https://twitter.com/elonmusk/status/1597873111...,2022-11-30 08:40:11+00:00,"@teslaownersSV Much more, but I am simply stat...","@teslaownersSV Much more, but I am simply stat...",1.597873e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",646.0,690.0,9893.0,...,1.597871e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,NaN,NaN,elonmusk,Tech CEO,Elon Musk

In [19]:
tweets_df = tweets_raw[['name','user', 'category', 'id', 'content', 
                        'replyCount', 'retweetCount', 'likeCount', 'quoteCount', 
                        'lang', 'sourceLabel', 'inReplyToTweetId', 'inReplyToUser', 'mentionedUsers', 'hashtags']]

#tweets_df.astype({'retweetCount': 'float', 'likeCount':'float'})
#tweets_df['retweets'] =  pd.to_numeric(, errors='coerce')

#, 'likeCount', 'quoteCount']] =

tweets_to_num = pd.DataFrame(pd.to_numeric((tweets_df['retweetCount'],
                                            tweets_df['likeCount'],
                                            tweets_df['quoteCount']
                                           ), errors='coerce').T).rename

In [6]:
tweets_raw.dtypes

_type                object
url                  object
date                 object
content              object
renderedContent      object
id                  float64
user                 object
replyCount          float64
retweetCount         object
likeCount            object
quoteCount           object
conversationId       object
lang                 object
source               object
sourceUrl            object
sourceLabel          object
outlinks             object
tcooutlinks          object
media                object
retweetedTweet       object
quotedTweet          object
inReplyToTweetId    float64
inReplyToUser        object
mentionedUsers       object
coordinates          object
place                object
hashtags             object
cashtags             object
user_name            object
category             object
name                 object
dtype: object

In [21]:
tweets_agg_name = tweets_df.groupby(['name']).agg({'id': 'count', 
                                               'hashtags': 'nunique', 
                                               'replyCount': ['sum', 'mean'], 
                                               #'retweetCount': ['sum', 'mean'], 
                                               #'likeCount': ['sum', 'mean'],
                                              #'quoteCount': ['sum', 'mean']
                                              })#.round(2)
tweets_agg_name#.sort_values('id', ascending=False)

                           id hashtags  replyCount
                        count  nunique         sum         mean
name
Alexandria Ocaso-Cortez   527        8   1527046.0  2897.620493
Barack Obama              349        6    786617.0  2253.916905
Bill Gates                358       29       675.0     1.885475
Ellen Degeneres           865      170     83092.0    96.060116
Elon Musk                4103        3  22498508.0  5483.428711
Jeff Bezos                 88        3    175798.0  1997.704545
Joe Biden                2394        0  11482523.0  4796.375522
Justin Bieber               3        1     22232.0  7410.666667
Katy Perry                236       47    123385.0   522.817797
Kim Kardashian            807       18    384470.0   476.418835
Lady Gaga                 214       20    168187.0   785.920561
Narendra Modi            3272       78   2363291.0   722.277200
Rihanna                    64       14    173690.0  2713.906250
Ron DeSantis              712       10   1438707.0  2020.655899
Satya Nadella              65        4      6171.0    94.938462
Sundar Pichai             148       22     40215.0   271.722973
Tim Cook                  155       20     57589.0   371.541935
Volodymyr Zelenskyy      1078      113   1137733.0  1055.410946